<div class="jumbotron">
    <h1>OPS Control Center</h1>
    <p class="lead">OPS Control Center es la aplicación web para la gestión de los centros de control que necesitas.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Comencemos</h2>
        <p>Con OPS Control Center podrás administrar todos los elementos que necesitas para la gestión integral de tu centor de control. 
        Podrás gestionar la recaudación, las alarmas, las unidades, el págo telefónico, la seguridad, la configuración, etc.</p>
        <p><a class="btn btn-default" href="#">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Apartados</h2>
        <p>En OPS Control Center hemos diferenciado los siguientes apartados: Trabajo, Pago telefónico, Maquinas, Calendario, Comunicaciones, 
        Histórico, Estadísticas, Sanciones, Seguridad, Configuración.</p>
        <p><a class="btn btn-default" href="#">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Arinpark</h2>
        <p>La nueva aplicación que te permitirá controlar tus estacionamientos!.</p>
        <p><a class="btn btn-default" href="https://play.google.com/store/apps/details?id=com.gerteksa.r.c.mugipark&hl=es&gl=US">Descargar &raquo;</a></p>
    </div>
</div>
